body {
  background-image: url('./components/images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

@media (max-width: 768px) {
  body{
    background-attachment: scroll;
  }
}

.logoElem {
  margin: 5px 3px;
  width: 32px;
  height: auto;
}

.logo {
  width: 45px;
  height: 45px;
}

#hero {
  display: flex;
  justify-content: space-evenly;
  padding: 5rem 2rem;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.hero-text p {
  color: #A42CD6;
  font-size: 1.5rem;
}

.highlight {
  color: #A42CD6;
}

#myPic {
  width: 150px;
  height: auto;
  border-radius: 10%;
}