body{
    /* background-color: #42273B; */
    background-image: url(./components/images/background.jpg);
    background-position: left top;
    background-repeat: repeat;
    background-attachment: fixed;
}

i {
    padding-right: 2px;
}

.logoElem {
    margin: 5px 3px;
    width: 32px;
    height: auto;
}

.logo {
    width: 45px;
    height: 45px;
}

#hero {
    display: flex;
    justify-content: space-evenly;
    padding: 5rem 2rem;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.hero-text p {
    color: #9EE493;
    font-size: 1.5rem;
}

.highlight {
    color: #9EE493;
}

#myPic {
    width: 150px;
    height: auto;
    border-radius: 10%;
}