#hero {
  text-align: center;
  padding: 5rem 2rem;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.hero-text p {
  font-size: 1.5rem;
}

.hero-text p {
  font-size: 1.5rem;
}

#logo {
  text-align: right;
}

.logoElem {
  margin: 5px 3px;
  width: 30px;
  height: 30px;
}